/*COMMON*/
body{
    font-family: Arial, sans-serif;
}

header{
    font-family: Helvetica, arial, sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

header li a{
    color: black;
    text-decoration: none;
}

main{
    margin-top: 100px;
}

img{
    width: 100%;
    height: auto;
}

.ms-img-container{
    width: 100%;
}

/*Jumbotron*/
.jumbotron{
    width: 100%;
    padding-top: 200px;
    background-size: cover;
    background-position: center;
    color: white;
}

.jumbotron#it-takes-two-jumbo{
    padding-top: 30px;
}

.jumbo-img{
    width: 60%;
    height: auto;
}

.jumbo-info{
    padding: 50px 0;
}

#returnal-jumbo{
    background-image: url(../img/jumbo-bg.png);
}

#it-takes-two-jumbo{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/*Info Product*/
.info-product h4{
    margin: 25px 0;
    font-size: 40px;
}

.info-product p{
    margin-bottom: 20px;
    font-size: 16px;
}

/*Section title*/
.section-title{
    text-align: center;
    padding-bottom: 20px;
}

.section-title span{
    font-size: 14px;
    text-transform: uppercase;
    color: #0a77d0;
}

.section-title h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.section-title p{
    font-size: 20px;
    color: #727272;
}

/*List*/
ul .arrow-down-icon{
    width: 10px;
    margin: 0 10px;
    display: inline-block;
}

/*Buttons*/
.ms-btn{
    display: inline-block;
    text-decoration: none;
}

.ms-medium-btn{
    padding: 7px 14px;
    border-radius: 20px;
}

.ms-bkg-dark{
    background-color: #363636;
    color: white;
}

.ms-bkg-orange{
    background-color: #cd3d0f;
    color: white;
}

.ms-bkg-blue{
    background-color: #2d64e6;
    color: white;
}

/*HEADER*/
/*Header-top*/
.header-top{
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
}

.sony-logo{
    width: 80px;
    margin: 0 10px;
}

/*Header Nav*/
header nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
}

header nav .ps-logo{
    width: 50px;
    margin-right: 15px;
}

nav ul li{
    margin: 0 10px;
}

.nav-left{
    display: flex;
    flex-direction: row;
}

.nav-right{
    text-align: right;
}

.nav-right .burger-menu-icon{
    font-size: 25px;
    font-weight: 100;
}

.nav-right .lens-icon{
    display: inline-block;
    width: 23px;
    margin-left: 10px;
}

.nav-right ul{
    justify-content: right;
}

/*MAIN*/
/*Jumbo Game Section*/
.jumbo-game-section{
    margin-bottom: 50px;
    padding: 20px 0;
}

/*Jumbo Game*/
.jumbo-game{
    width: 100%;
    height: auto;
    margin: 10px 0;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
}

/*PS5 Section*/
.ps5-img{
    padding: 10px;
}

.ps5-text .info-product p{
    font-size: 20px;
    color: #727272;
}

/*PS5 Object*/
.ps5-object{
    text-align: center;
    height: 100%;
}

/*img*/
.ps5-object img{
    width: 100%;
    padding: 10px;
    filter: opacity(0.6);
}

@media (min-width: 768px) {
    
    .ps5-object img{
        width: 40%;
    }

}

/*name*/
.ps5-object .object-name{
    display: none;
}

.ps5-object .object-name a{
    text-decoration: none;
    font-size: 16px;
    color: #727272;
}

.ps5-object .object-name h3{
    line-height: 22px;
}

@media (min-width: 768px) {
    
    .ps5-object .object-name{
        display: block;
    }

}

/*Active object*/
.ps5-object.active-ps5-object{
    border-bottom: 2px solid #2083d4;
}

.active-ps5-object img{
    filter: opacity(1);
}

.ps5-object.active-ps5-object a{
    color: black;
}

/* New Game Section */
.new-game .game-card img{
    border-radius: 15px;
}